Repository 2024FALL-SWPP/team-project-for-2024-fall-swpp-team-02, pull requests merged in 2024-11, with the labels that each got.

#15 Blender: Added character and city map tile models
  .gitignore
  Blender/Models/EcoHero_Ground_Assets.blend
  Blender/Models/Robot.blend
Labels: blender

#14 [#3] Added Player Movement Logic, and Simple Animations
  Assets/Animations.meta
  Assets/Animations/PlayerAnimator.controller
  Assets/Animations/PlayerAnimator.controller.meta
  Assets/Animations/Player_Idle.anim
  Assets/Animations/Player_Idle.anim.meta
  Assets/Animations/Player_JumpBack.anim
  Assets/Animations/Player_JumpBack.anim.meta
  Assets/Animations/Player_JumpFront.anim
  Assets/Animations/Player_JumpFront.anim.meta
  Assets/Animations/Player_JumpLeft.anim
  Assets/Animations/Player_JumpLeft.anim.meta
  Assets/Animations/Player_JumpRight.anim
  Assets/Animations/Player_JumpRight.anim.meta
  Assets/Player.prefab
  Assets/Player.prefab.meta
  Assets/Scenes/TestMap.unity
  Assets/Scripts/Direction.cs
  Assets/Scripts/Direction.cs.meta
  Assets/Scripts/InputManager.cs
  Assets/Scripts/InputManager.cs.meta
  Assets/Scripts/PlayerBehaviour.cs
  Assets/Scripts/PlayerBehaviour.cs.meta
  Assets/Tiles.meta
  Assets/Tiles/Default_marker.asset
  Assets/Tiles/Default_marker.asset.meta
  Assets/Tiles/Default_marker.png
  Assets/Tiles/Default_marker.png.meta
  Assets/Tiles/Markers.prefab
  Assets/Tiles/Markers.prefab.meta
  Packages/manifest.json
  Packages/packages-lock.json
Labels: unity(game)

#26 [#23] 쓰레기통 모델링
  .gitignore
  Blender/Models/Trash_Bin.blend
Labels: blender

#17 [#5] Implemented Basic Level Clear Scene
  Assets/Scripts/LevelClear.cs
  Assets/Scripts/LevelClear.cs.meta
  Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF.asset
Labels: unity(game)

#30 LevelClearScene 버그 수정
  Assets/Scenes/LevelClearScene.unity
Labels: bug

#21 [#20] 시작화면(StartingScene) 구현
  Assets/Scenes/StartScene.unity
  Assets/Scenes/StartScene.unity.meta
  Assets/Scripts/StartScene.cs
  Assets/Scripts/StartScene.cs.meta
Labels: unity(other)

#31 [#23] 쓰레기 아이템 모델링
  Blender/Models/Reference Images/Banana_Peel.jpg
  Blender/Models/Reference Images/Coke_Can.jpeg
  Blender/Models/Reference Images/Pepsi_Plastic.jpg
  Blender/Models/Trash_Items.blend
Labels: blender

#19 [#9] 카메라 이동 구현
  Assets/Scenes/TestMap.unity
  Assets/Scripts/CameraBehaviour.cs
  Assets/Scripts/CameraBehaviour.cs.meta
  Assets/Scripts/PlayerBehaviour.cs
  Assets/Scripts/StageManager.cs
  Assets/Scripts/StageManager.cs.meta
Labels: unity(game)

#36 [#22] 로봇 캐릭터 리깅 & 애니메이션
  Blender/Exports/Robot.fbx
  Blender/Models/Robot.blend
  Blender/Models/Robot.blend1
Labels: blender

#43 [#24] 정적 장애물, 배터리팩 아이템 모델링
  Blender/Exports/Items/Battery.fbx
  Blender/Exports/Obstacles/Fire_Hydrant.fbx
  Blender/Exports/Obstacles/Stop_Sign.fbx
  Blender/Exports/Obstacles/Traffic_Cone.fbx
  Blender/Exports/Obstacles/Tree.fbx
  Blender/Models/Battery_Item.blend
  Blender/Models/Obstacles.blend
  Blender/Textures/Stop_Sign.png
Labels: blender

#45 Add Vertex Coloring Shader
  Assets/Materials/VertexColorMaterial.mat
  Assets/Materials/VertexColorMaterial.mat.meta
  Assets/Models.meta
  Assets/Models/Banana.fbx
  Assets/Models/Banana.fbx.meta
  Assets/Shaders.meta
  Assets/Shaders/VertexColor.shader
  Assets/Shaders/VertexColor.shader.meta
  Blender/Exports/Trashes/Banana.fbx
  Blender/Models/Trash_Items.blend
Labels: bug, unity(game)

#40 data persistence 구현
  Assets/Scenes/StartScene.unity
  Assets/Scripts/ActiveLevelData.cs
  Assets/Scripts/ActiveLevelData.cs.meta
  Assets/Scripts/CoinData.cs
  Assets/Scripts/CoinData.cs.meta
  Assets/Scripts/DataManager.cs
  Assets/Scripts/DataManager.cs.meta
  Assets/Scripts/LevelClear.cs
  Assets/Scripts/LevelOver.cs
  Assets/Scripts/SelectLevel.cs
Labels: unity(game)

#52 level fail 이벤트 구현
  Assets/Scripts/PlayerBehaviour.cs
  Assets/Scripts/StageManager.cs
Labels: unity(game)

#58 [#57] 목적지 타일 제작
  Assets/Models/Goal_Assets.fbx
  Assets/Models/Goal_Assets.fbx.meta
  Blender/Exports/Goal_Assets.fbx
  Blender/Models/Goal_Assets.blend
Labels: blender

#69 레벨 3용 타일 제작
  Assets/Models/FBX/Tiles/Pebbles.fbm.meta
  Assets/Models/FBX/Tiles/Pebbles.fbm/Pebble_Patches_Baked.png
  Assets/Models/FBX/Tiles/Pebbles.fbm/Pebble_Patches_Baked.png.meta
  Assets/Models/FBX/Tiles/Pebbles.fbx
  Assets/Models/FBX/Tiles/Pebbles.fbx.meta
  Assets/Models/FBX/Tiles/Rocky_Ground.fbm.meta
  Assets/Models/FBX/Tiles/Rocky_Ground.fbm/Pebbles.fbm.meta
  Assets/Models/FBX/Tiles/Rocky_Ground.fbm/Pebbles.fbm/Pebble_Patches_Baked.png
  Assets/Models/FBX/Tiles/Rocky_Ground.fbm/Pebbles.fbm/Pebble_Patches_Baked.png.meta
  Assets/Models/FBX/Tiles/Rocky_Ground.fbm/Pebbles.fbx
  Assets/Models/FBX/Tiles/Rocky_Ground.fbm/Pebbles.fbx.meta
  Assets/Models/FBX/Tiles/Rocky_Ground.fbm/Rock_Baked.png
  Assets/Models/FBX/Tiles/Rocky_Ground.fbm/Rock_Baked.png.meta
  Assets/Models/FBX/Tiles/Rocky_Ground.fbx
  Assets/Models/FBX/Tiles/Rocky_Ground.fbx.meta
  Assets/Models/FBX/Tiles/Sand.fbm.meta
  Assets/Models/FBX/Tiles/Sand.fbm/DrySand_Baked.png
  Assets/Models/FBX/Tiles/Sand.fbm/DrySand_Baked.png.meta
  Assets/Models/FBX/Tiles/Sand.fbm/Water_Baked.png
  Assets/Models/FBX/Tiles/Sand.fbm/Water_Baked.png.meta
  Assets/Models/FBX/Tiles/Sand.fbm/WetSand_Baked.png
  Assets/Models/FBX/Tiles/Sand.fbm/WetSand_Baked.png.meta
  Assets/Models/FBX/Tiles/Sand.fbx
  Assets/Models/FBX/Tiles/Sand.fbx.meta
  Blender/Exports/Tiles/Pebbles.fbx
  Blender/Exports/Tiles/Rocky_Ground.fbx
  Blender/Models/Level3_Tile_Assets.blend
  Blender/Textures/DrySand_Baked.png
  Blender/Textures/Pebble_Patches_Baked.png
  Blender/Textures/Rock_Baked.png
  Blender/Textures/Water_Baked.png
  Blender/Textures/WetSand_Baked.png
Labels: blender

#70 실시간점수, 최종점수 계산
  Assets/Scenes/TestMap.unity
  Assets/Scripts/ActiveLevelData.cs
  Assets/Scripts/PlayerBehaviour.cs
  Assets/Scripts/ScoreModel.cs
  Assets/Scripts/ScoreModel.cs.meta
  Assets/Scripts/StageManager.cs
  Assets/Scripts/TrashPicker.cs
Labels: unity(game)

#76 [#65] Implemented Battery Pack
  Assets/ItemMapping.asset
  Assets/ItemMapping.asset.meta
  Assets/Models/Battery.fbx
  Assets/Models/Battery.fbx.meta
  Assets/Prefabs/Battery.prefab
  Assets/Prefabs/Battery.prefab.meta
  Assets/Scenes/TestMap.unity
  Assets/Scripts/Item.meta
  Assets/Scripts/Item/BatteryPackBehaviour.cs
  Assets/Scripts/Item/BatteryPackBehaviour.cs.meta
  Assets/Scripts/Item/IItemBehaviour.cs
  Assets/Scripts/Item/IItemBehaviour.cs.meta
  Assets/Scripts/Item/ItemMapping.cs
  Assets/Scripts/Item/ItemMapping.cs.meta
  Assets/Scripts/Item/ItemMappingItem.cs
  Assets/Scripts/Item/ItemMappingItem.cs.meta
  Assets/Scripts/Item/ItemPicker.cs
  Assets/Scripts/Item/ItemPicker.cs.meta
  Assets/Scripts/Item/ItemSpawner.cs
  Assets/Scripts/Item/ItemSpawner.cs.meta
  Assets/Scripts/Item/ItemType.cs
  Assets/Scripts/Item/ItemType.cs.meta
  Assets/Scripts/PlayerBehaviour.cs
  Assets/Tiles/BatteryPack.asset
  Assets/Tiles/BatteryPack.asset.meta
  Assets/Tiles/Markers.prefab
  Assets/Tiles/Sources/BatteryPack.png
  Assets/Tiles/Sources/BatteryPack.png.meta
Labels: unity(game)

#81 쓰레기 줍기/버리기 애니메이션 적용
  Assets/Animations/PlayerAnimator.controller
  Assets/Models/FBX/Robot.fbx.meta
  Assets/Scripts/PlayerBehaviour.cs
  Assets/Scripts/TrashPicker.cs
Labels: unity(game)
