Repository 2024FALL-SWPP/team-project-for-2024-fall-swpp-team-02, pull requests merged in 2024-12, with the labels that each got.

#116 [#112] PlayerBagControllerTest 작성
  Assets/Scripts/PlayerBagControllerTest.cs
  Assets/Scripts/PlayerBagControllerTest.cs.meta
  Assets/Scripts/PlayerBagTest.cs
Labels: testing

#118 [#115] PlayerBag의 UpdateUI 함수 순환참조 제거
  Assets/Scripts/PlayerBag.cs
Labels: enhancement

#125 LevelSelectScene 미화
  Assets/Scenes/LevelSelectScene.unity
Labels: unity(other)

#127 레벨 1 스카이박스 넣기
  Assets/Scenes/LevelOneScene.unity
Labels: unity(other)

#106 [#87] Changed implementation of level 1
  Assets/Prefabs/BlueBin.prefab
  Assets/Scenes/LevelOneScene.unity
  Assets/Scenes/LevelOneScene.unity.meta
  Assets/Tiles/LevelTiles/Crossroad.prefab
  Assets/Tiles/LevelTiles/Crosswalk.prefab
  Assets/Tiles/LevelTiles/Grass1.prefab
  Assets/Tiles/LevelTiles/Grass2.prefab
  Assets/Tiles/LevelTiles/Sidewalk_Brick.prefab
  Assets/Tiles/LevelTiles/Sidewalk_Stone.prefab
  Assets/Tiles/LevelTiles/Sidewalk_Terracotta.prefab
  Assets/Tiles/LevelTiles/Straight_Road.prefab
Labels: unity(game)

#132 코인 아이콘 제작 및 적용
  Assets/Materials/CoinImage.png
  Assets/Materials/CoinImage.png.meta
  Assets/Scenes/LevelSelectScene.unity
  Assets/Scripts/SelectLevel.cs
Labels: unity(other)

#140 Level Select UI Fix
  Assets/Scenes/LevelSelectScene.unity
Labels: bug, unity(game)

#143 level 선택 버그 수정
  Assets/Scenes/LevelSelectScene.unity
Labels: bug

#145 Fixed bug: error occurs when restart after fail
  Assets/Scripts/LevelOver.cs
Labels: bug, unity(game)

#156 게임 매뉴얼 버튼 추가
  Assets/Scenes/StartScene.unity
  Assets/Scripts/ShowDescription.cs
  Assets/Scripts/ShowDescription.cs.meta
Labels: unity(other)
